body {
    margin: 0;
    background: #f2f2f2;
    font-family: "Montserrat", sans-serif;
  }
  
  .contenedor-general{
    display: grid;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    grid-gap: 40px;
    grid-template-columns:repeat(2fr 3fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "tarjeta-perfil     tarjeta-perfil"
      "porcentaje-tarjeta      articulo-tarjeta"
      "hobbies-tarjeta     articulo-tarjeta"
      "hobbies-tarjeta     experiencias-tarjeta"
      "pages-bar-2      pages-bar-2"
      "proyecto-tarjeta-1   proyecto-tarjeta-2"
      "pages-bar-3      pages-bar-3";
  }
  
  .tarjeta-perfil {
    grid-area: tarjeta-perfil;
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto;
  
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
  }
  
  .tarjeta-perfil__img {
    width: 270px;
    height: 270px;
    border-radius: 12px;
    margin-right: 34px;
  
  }
  
  .tarjeta-perfil__datos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  
  .tarjeta-perfil__nombre {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
  }
  
  .tarjeta-perfil__email,
  .tarjeta-perfil__phone-number,
  .tarjeta-perfil__profesion,
  .tarjeta-perfil__descripcion {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  
  .tarjeta-perfil__nombre,
  .tarjeta-perfil__email {
    margin-bottom: 6px;
  }
  
  .tarjeta-perfil__profesion,
  .tarjeta-perfil__descripcion {
    color: #828282;
  }
  
  .tarjeta-perfil__nombre,
  .tarjeta-perfil__email,
  .tarjeta-perfil__phone-number {
    color: #4f4f4f;
  }
  
  .tarjeta-perfil__email-icon,
  .tarjeta-perfil__phone-number-icon {
    margin-right: 20px;
  }
  
  /* proyecto */

  .proyecto-tarjeta {
    grid-area: proyecto-tarjeta;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
  }
  
  .proyecto-tarjeta-1 {
    grid-area: proyecto-tarjeta-1;
  }
  .proyecto-tarjeta-2 {
    grid-area: proyecto-tarjeta-2;
  }
  
  .proyecto-tarjeta__img {
    width: 490px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 35px;
    margin-bottom: 25px;
  }
  
  .proyecto-tarjeta__datos {
    display: flex;
    height: 270px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .proyecto-tarjeta__used-etiqueta-proyectos {
    display: flex;
  }
  
  .proyecto-tarjeta__proyecto {
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #828282;
  }
  
  .proyecto-tarjeta__informacion{
    margin-bottom: 0;
  }
  
  .proyecto-tarjeta__titulo {
    font-weight: 500;
    font-size: 24px;
    color: #4f4f4f;
    margin: 0 0 18px 0;
  }
  
  .proyecto-tarjeta__descripcion {
    font-size: 16px;
    color: #828282;
    margin: 0;
  }
  
  .proyecto-tarjeta__botones {
    padding: 10px 0;
    height: auto;
  }
  
  .proyecto-tarjeta__boton {
    padding: 10px 35px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .proyecto-tarjeta__boton--demo {
    background: rgb(157, 221, 162);
    color: #f2f2f2;
    margin-right: 50px;
  }
  
  .proyecto-tarjeta__boton--code {
    background: white;
    color: rgb(0, 255, 13);
    border: 1px solid rgb(172, 223, 183);
  }
  
  /* porcentaje */
  .porcentaje-tarjeta {
    grid-area: porcentaje-tarjeta;
    max-width: 100%;
   
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
  }
  
  .porcentaje-tarjeta__titulo {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4f4f4f;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .porcentaje-tarjeta__contenedor {
    display: grid;
    max-width: 1000px;
    grid-column-gap: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "porcentaje-tarjeta__habilidad--1"
      "porcentaje-tarjeta__habilidad--2"
      "porcentaje-tarjeta__habilidad--3"
  }
  
  .porcentaje-tarjeta__habilidad--1 {
    grid-area: porcentaje-tarjeta__habilidad--1;
  }
  .porcentaje-tarjeta__habilidad--2 {
    grid-area: porcentaje-tarjeta__habilidad--2;
  }
  .porcentaje-tarjeta__habilidad--3 {
    grid-area: porcentaje-tarjeta__habilidad--3;
  }  
  .porcentaje-tarjeta__habilidad {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
  }
  
  .porcentaje-tarjeta__etiqueta {
    font-size: 16px;
    color: #4f4f4f;
    margin: 0;
    width: 25%;
    min-width: 100px;
  }
  
  .porcentaje-tarjeta__escala {
    width: 75%;
    height: 8px;
    background: #c4c4c4;
    border-radius: 4px;
  }
  
  .porcentaje-tarjeta__detalle {
    background: #2f80ed;
    height: inherit;
    border-radius: inherit;
  }
  
  .porcentaje-tarjeta__detalle--1 {
    width: 50%;
  }
  .porcentaje-tarjeta__detalle--2 {
    width: 20%;
  }
  .porcentaje-tarjeta__detalle--3 {
    width: 40%;
  }
  
  /* articulo */
  
  .articulo-tarjeta {
    grid-area: articulo-tarjeta;
    display: grid;
    margin: auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 50px repeat(3, auto);
    grid-template-areas:
      "articulo-tarjeta__blog           articulo-tarjeta__img"
      "articulo-tarjeta__titulo          articulo-tarjeta__img"
      "articulo-tarjeta__descripcion    articulo-tarjeta__descripcion"
      "articulo-tarjeta__link           articulo-tarjeta__link";
  }
  
  .articulo-tarjeta__titulo {
    align-self: flex-start;
    font-size: 24px;
    color: #4f4f4f;
    margin: 0;
    grid-area: articulo-tarjeta__titulo;
    align-self: center;
  }
  
  .articulo-tarjeta__descripcion {
    margin: 40px 0;
    width: auto;
    font-size: 16px;
    color: #828282;
    grid-area: articulo-tarjeta__descripcion;
  }
  
  .articulo-tarjeta__img {
    max-width: 270px;
    height: 320px;
    width: 520px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    grid-area: articulo-tarjeta__img;
  }
  
  .articulo-tarjeta__blog {
    font-size: 16px;
    color: #828282;
    margin: 0;
    grid-area: articulo-tarjeta__blog;
    align-self: flex-start;
  }
  
  .articulo-tarjeta__link {
    font-size: 16px;
    text-decoration: none;
    grid-area: articulo-tarjeta__link;
    align-self: flex-end;
  }
  
  /* experiencias */
  
  .experiencias-tarjeta {
    grid-area: experiencias-tarjeta;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 90px;
    background: #ffffff;
    border-radius: 12px;
  }
  
  .experiencias-tarjeta__titulo {
    margin: 0 0 30px 0;
    color: #4f4f4f;
  }
  
  .experiencias-tarjeta__mi-expe{
    display: block;
    justify-content: space-between;
    max-width: auto;
  }
  
  .experiencias-tarjeta__expe {
    display: grid;
    max-width: 420px;
    margin-bottom: 30px;
    grid-column-gap: 16px;
    grid-template-columns: 60px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "experiencias-tarjeta__img    experiencias-tarjeta__date"
      "experiencias-tarjeta__img    experiencias-tarjeta__posicion"
      "experiencias-tarjeta__img    experiencias-tarjeta__descripcion";
  }
  
  .experiencias-tarjeta__img {
    grid-area: experiencias-tarjeta__img;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .experiencias-tarjeta__date {
    grid-area: experiencias-tarjeta__date;
  
    font-size: 14px;
    color: #828282;
  }
  
  .experiencias-tarjeta__posicion {
    grid-area: experiencias-tarjeta__posicion;
  
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    color: #333333;
  }
  
  .experiencias-tarjeta__descripcion {
    grid-area: experiencias-tarjeta__descripcion;
  
    font-size: 16px;
    font-weight: 500;
    color: #828282;
  }
  
  /************************************HOBBIES ************************/
  
  .hobbies-tarjeta {
    grid-area: hobbies-tarjeta;
    max-width: 100%;
    height: 100%;
    margin: 5px;
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
  }
  
  .hobbies-tarjeta__titulo {
    font-size: 24px;
    font-weight: 600;
    color: #4f4f4f;
    margin: 0 0 20px 0;
  }
  
  .hobbies-tarjeta__contenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .hobbies-tarjeta__hobbie {
    width: 430px;
    margin-bottom: 40px;
  }

  .hobbies-tarjeta__img {
    width: inherit;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .hobbies-tarjeta__hobbie-nombre {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 0;
    margin-top: 15px;
  }
  
  .hobbies-tarjeta__desciption {
    font-size: 16px;
    color: #828282;
    margin: 7px 0 0;
  }
  
  .pages-bar-1 {
    display: none;
  }

.pages-bar-1 
.pages-bar-1,
.pages-bar-2 {
  max-width: 400px;
  height: auto;
  margin: 5px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: -10px;
}
.pages-bar-1__text,
.pages-bar-2__text {
  margin: 0;
  font-size: 24px;
}

.pages-bar-2__buttons {
  margin: 9px;
}

.pages-bar-2 
.pages-bar-2__text {
  margin-bottom: 20px;
}

.pages-bar-2__btn {
  font-size: 14px;
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 7px;
  margin-right: 15px;
}

.pages-bar-2__btn--black {
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
}

.pages-bar-2__btn--blue-white {
  color: #6aa2ef;
  border: 1px solid #6aa2ef;
}

.pages-bar-2__btn--blue {
  background: #6aa2ef;
  color: #ffffff;
  border: 1px solid #6aa2ef;
}
/* .pages-bar-3 

.pages-bar-3 {
  display: flex;
  max-width: 1000px;
  height: auto;
  margin: auto;
  padding: 0 15px;
}

.pages-bar-3__btn {
  width: 32px;
  font-size: 12px;
  color: #4f4f4f;
  padding: 7px 3px;
  border-radius: 4px;
  border: 1px solid #6aa2ef;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
}

.pages-bar-1 {
  grid-area: pages-bar-1;
}
.pages-bar-2 {
  grid-area: pages-bar-2;
}
.pages-bar-3 {
  grid-area: pages-bar-3;
} */

@media screen and (max-width: 800px) {
  .contenedor-general{
    display: flex;
    flex-direction: column;
  }
  .tarjeta-perfil{
    max-width: 100vh;
  }
  body, html{
    max-width: 100vh;
    height: 100vh;
  }
  .articulo-tarjeta{
    max-width: 100vh;
   
  }
  .proyecto-tarjeta, .proyecto-tarjeta-2,  .proyecto-tarjeta__img{
    max-width: 100vh;
    width: 800px;
  }
  .porcentaje-tarjeta, .porcentaje-tarjeta__contenedor{
    padding-right: 425px;
    width: 500px;
    position: relative;
  }
  .hobbies-tarjeta, .hobbies-tarjeta__contenedor, .hobbies-tarjeta__hobbie, .hobbies-tarjeta__img{
    max-width: 100vh;
    width: 500%;
  }
  .pages-bar-2{
    max-width: 100vh;
    width: 200%;
  }
  .experiencias-tarjeta{
    width: 100%;
    max-width: 100vh;
    padding: 190px;
  }
  .experiencias-tarjeta__mi-expe{
    margin: 0;
    padding: 0;
  }
  }

   
 